/**
 * Breakpoints
 */
$bpDesktopMin: 961px;

/**
 * Colors
 */

// Base Colors
$black: #000;
$white: #fff;

// Custom Colors
$dark: #222;
$light: #f0f0f0;

// Shadows
.shadow-off {box-shadow: none !important;}
.shadow-1 {box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
.shadow-2 {box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);}
.shadow-3 {box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.shadow-4 {box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);}

/**
 * Utility
 */
.clearfix {
  zoom: 1;
	&:before, &:after {
		content: "";
  	display: table;
	}
	&:after { clear:both; }
}

.no-select {
	cursor:default;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Display
.inline {display:inline;}
.inline-block {display:inline-block;}
.block {display:block;}

// Position
.relative {position:relative;}
.absolute {position:absolute;}
.fixed {position:fixed;}

// Text
.text-center {text-align:center;}
.text-right {text-align:right;}
.text-left {text-align:left;}

// Accessibility
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Hide/show
.hidden {
  display: none;
}
.mobile-only {
  display: block;
  @media (min-width: $bpDesktopMin) {
    display: inherit;
  }
}
.hidden-mobile {
  display: none;
  @media (min-width: $bpDesktopMin) {
    display: inherit;
  }
}